<div class="">
    <div class="d-flex row justify-content-start align-items-center">
        <div class="card m-2" routerLink="/car-detail/{{car.carId}}" *ngFor="let car of carList"
            style="width: 18rem;">
            <img height="150px" style="object-fit: contain;" class="card-img-top"
                src="https://localhost:7072/uploads/images/{{car.carImage}}" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{car.carName}}</h5>
                <div class="d-flex justify-content-between">
                    <h6>Marka : {{car.brandName}}</h6>
                    <h6>Renk : {{car.colorName}}</h6>
                </div>
                <h6 class="text-success">{{car.dailyPrice |currency}}</h6>
            </div>
        </div>
    </div>
</div>