<div class="border border-success">
    <div class="d-grid my-3 ">
        <div class="col-6 offset-3">
            <input id="filterText" [(ngModel)]="filterText" class="form-control" type="text"
                placeholder="Search" aria-label="Search">
        </div>
        <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
    </div>
    <div
        class="d-flex flex-wrap justify-content-sm-start align-items-center border border-secondary">
        <div class="card m-2 border border-danger" routerLink="/car-detail/{{car.carId}}"
            *ngFor="let car of carList |filter:filterText" style="width: 16rem;height: 18rem;">
            <img height="150px" style="object-fit: contain;" class="card-img-top"
                src="https://localhost:7072/uploads/images/{{car.carImage}}" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{car.carName}}</h5>
                <div class="d-flex justify-content-between">
                    <h6>Marka : {{car.brandName}}</h6>
                    <h6>Renk : {{car.colorName}}</h6>
                </div>
                <h6 class="text-success">{{car.dailyPrice |currency}}</h6>
            </div>
        </div>
    </div>
    <div *ngIf="!(carList.length > 0)" class="text-center">
        <h3>Bu filtre de araç bulunamadı</h3>
    </div>
</div>