<div class="d-flex">
    <div class="row">
        <div class="card" routerLink="/car-detail/{{car.carId}}" (click)="onCarClick(car)"
            *ngFor="let car of carList" style="width: 18rem;">
            <img height="150px" style="object-fit: contain;"
                src="https://localhost:7072/uploads/images/{{car.carImage}}" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">{{car.carName}}</h5>
                <div class="d-flex justify-content-between">
                    <h6>Marka : {{car.brandName}}</h6>
                    <h6>Renk : {{car.colorName}}</h6>
                </div>
                <h6 class="text-success">{{car.dailyPrice |currency}}</h6>
            </div>
        </div>
    </div>
</div>